.todolist {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 539px;
	width: 70%;
	margin: 0 auto;

	&_item {
		width: 20%;
		overflow: hidden;
		word-break: break-all;
		color: #000;
		font-size: 16px;
	}
}
